.calcContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#display {
  height: 1rem;
}

#clear {
  grid-area: 1/1/1/4;
}

#equals {
  grid-area: 5/3/5/5;
}

.bottonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
